VITE_API_URL=http://localhost:5000/api

VITE_CLOUDINARY_UPLOAD_URL=
# looks like: https://api.cloudinary.com/v1_1/{cloudname}/image/upload

VITE_CLOUDINARY_UPLOAD_PRESET=scenely_unsigned
VITE_CLOUDINARY_UPLOAD_PRESET_USERS=user-pfp
VITE_CLOUDINARY_UPLOAD_PRESET_POSTS=posts-image

VITE_TMDB_BEARER_TOKEN="a really long string"

