:root {
    --color-primary: #C20D0A;
    --color-secondary: #B7B5B3;
    --color-bg: #141301;
    --color-text: #E5E7E6;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}